<hr>
<mat-toolbar  color="primary" class="language">
    Language: 
  <ul class="language">
    <li style="color:aqua">English (UK)</li>&emsp;
    <li><a href="#">हिन्दी</a></li>&emsp;
    <li><a href="#">ಕನ್ನಡ</a></li>&emsp;
    <li><a href="#">اردو</a></li>&emsp;
    <li><a href="#">मराठी</a></li>&emsp;
    <li><a href="#">తెలుగు</a></li>&emsp;
    <li><a href="#">தமிழ்</a></li>&emsp;
    <li><a href="#">മലയാളം</a></li>&emsp;
    <li><a href="#">বাংলা</a></li>&emsp;
    <li><a href="#">ગુજરાતી</a></li>&emsp;
    <li><a href="#">ਪੰਜਾਬੀ</a></li>&emsp;
    <span matTooltip="Suggest a new language" >
      <a href="#" style="position: relative;top: 6px;" (click)="addLanguage()"><i class="material-icons">add_box</i></a>
    </span>
  </ul>
</mat-toolbar>
<hr>
<mat-toolbar>
  <li><a href="#">Create ad</a></li>&emsp;
  <li><a href="#">Careers</a></li>&emsp;
  <li><a href="#">Privacy</a></li>&emsp;
  <li><a href="#">About us</a></li>&emsp;
  <li><a href="#">Help</a></li>&emsp;
  <li><a href="#">Contact us</a></li>&emsp;
  <span class="example-spacer"></span>
  <span style="font-size:13px">TheSocialSpectrum © 2018</span>
</mat-toolbar>
